:root{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
header{
    width: 100%;
    height: 53px;
    background-color: #001730;
    padding: 0 10%;
    box-sizing: border-box;
    color: white;
    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: #4ad7d1;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            gap:30px;
            list-style: none;
            padding: 0;
            li{
                letter-spacing: 1px;
                font-size: 18px;
                &:not(.welcome){
                    cursor: pointer;
                    &:hover{
                        color: #4ad7d1;
                    }                
                }
                &.home{
                    font-family: 'Candara';
                }
            }
        }
    }
}
footer{
    background-color: #001730;
    color: white;
    padding: 10px;
    display:flex;
    justify-content: flex-start;
    height: 140px;
    .concat-us{
        padding-right: 40px;
        border-right: 2px solid darken($color: #4ad7d1, $amount: 30%);
        div{
            font-size: 20px;
            color: #4ad7d1;
        }
        ul{
            margin-bottom: 0;
            li{
                margin: 5px 0;
                letter-spacing: 1px;
                list-style: none;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .adds{
        display: flex;
        gap: 20px;
        padding-left: 40px;
        &>div{
            height: 120px;
            img{
                height: 100px;
            }
        }
    }
}