main.register{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 213px);
    aside{
        width: 20%;
        box-sizing: border-box;
        padding: 30px;
        margin: 30px;
        border: 2px solid #ccc;
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &>input{
                height: 20px;
                &[type="submit"]{
                    height: 30px;
                    background-color: #001730;
                    color: #4ad7da;
                    cursor: pointer;
                }
            }
            .manager{
                height: 20px;
                display: flex;
                align-items: center;
                input{
                    margin: 0;
                    cursor: pointer;
                }
                label{
                    height: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}